<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>59814343974-q7qibt4lo1ol20ke0u58ui3n4i7k947g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.59814343974-q7qibt4lo1ol20ke0u58ui3n4i7k947g</string>
	<key>API_KEY</key>
	<string>AIzaSyBkDUSPptElNK5xtJ8y8IhSbIsrh3n-R2c</string>
	<key>GCM_SENDER_ID</key>
	<string>59814343974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gaurav.mynotes</string>
	<key>PROJECT_ID</key>
	<string>gaurav-notes</string>
	<key>STORAGE_BUCKET</key>
	<string>gaurav-notes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59814343974:ios:5bdf78974a2ac50a757de7</string>
</dict>
</plist>